.card{
    height: 85%;
    padding: 20px;
    margin-top: 3%;
    margin-bottom: 2%;  
    margin-left: 7.5%;
    margin-right: 7.5%;
}
.col {
    float: left;
    height: 200px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    width: 25%;
}
  
  .right {
    width: 75%;
  }

  button {
    /* padding: 15px 25px; */
    padding-bottom: 9px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0fa3e3;
    border: none;
    border-radius: 20px;
  }
  
  button:active {
    background-color: #72cef6;
    
  }

  .head {
    color: red;
  }

  .ans {
    color: black;
  }
  